@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');
@import 'tailwindcss';

/* ------ General CSS ------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

body {
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    background-color: #121212 !important;
    color: white !important;
    font-family: 'Stack Sans Text', sans-serif !important;
}

a:hover {
    text-decoration: none;
}

/* ------ Navbar ------- */
nav.navbar {
    padding: 18px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 0.32s ease-in-out;
}

/* ------ Navbar Icon animation ------- */
.social-icon {
    display: inline-block;
    margin-left: 14px;
}
.social-icon a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    margin: 0px 6px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0.1);
    transition: background-color 0.3s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
    content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #fff;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a svg {
    width: 50%;
    height: 50%;
    z-index: 1;
    transition: 0.3s ease-in-out;
    color: white;
}
.social-icon a:hover svg {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
        hue-rotate(346deg) brightness(95%) contrast(86%);
}
/* button animation */
.navbar-text button {
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    padding: 18px 34px;
    font-size: 18px;
    margin: 0px 18px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    border-radius: 100px;
}
.navbar-text button span {
    z-index: 1;
}
.navbar-text button::before {
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: -1;
}
.navbar-text button:hover {
    color: #121212;
}
.navbar-text button:hover::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 100px;
}

/* ------ banner button animation ------- */
.banner button {
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
}

.banner button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
}
.banner button:hover svg {
    margin-left: 20px;
}

/* ------ float animation ------- */
@keyframes updown {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

.animated-bounce {
    animation: updown 7s ease-in-out infinite;
}

/* ------ cursor animation ------- */
@keyframes pulse {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-pulse {
    animation: pulse 1s step-start infinite;
}
